body {
    background: linear-gradient(90deg, rgba(133,180,36,1) 0%, rgba(28,152,28,1) 100%);
    text-align: center;
    font-family: "Freeman", sans-serif;
}

.title {
    text-shadow: #FC0 1px 0 6px;
    font-size: 70px;
    color: #f7e97e;
    font-weight: 400;
}

.banana_img {
    width: 300px;
    display: block;
    margin: auto;
    animation: imgAnimation 3s infinite;
}

.text_info {
    display: flex;
    text-align: start;
    margin: 50px;
    padding: 10px;
    color: #DED171;

}

.text {
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    font-weight: 400;
    padding: 7px 12px;
    border-radius: 20px;
    margin: 0 50px;
}


.button_link {
    text-decoration: none;
    background: #f7e97e;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px;
}

@keyframes imgAnimation {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.0);
    }
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 50px;
        font-style: normal;
    }

    .banana_img {
        max-width: 250px;
        width: 90%;
     
    }

    .button_link {
        font-size: 16px;
        
    }

    .button_link:hover {
        background: #e3d674;
    }

    .button_link:active {
        background: #d4c76a;
    }

    .text_info {
        display: block;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        
    }

    .text{
        margin: 0;
        padding: 0;
        background-color: transparent;
        font-size: 16px;
    }
}